*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.card{
    /* border: 1px solid black; */
    border-radius: 50px;
    margin: 10px   ;
    padding: 10px;
    height: 85vh;
    width: 10vw;
    position: relative;
}
#first{
    background: url("images/beautiful-green-field-scenery-picjumbo-com.jpg");
    background-size: cover;
    transition: 1s;
}
#second{
    background: url("images/beautiful-nature-mountain-scenery-with-flowers-picjumbo-com.jpg");
    background-size: cover;
    transition: 1s;
}
#third{
    background: url("images/cloudy-and-foggy-weather-in-the-mountains-picjumbo-com.jpg");
    background-size: cover;
    transition: 1s;

}
#fourth{
    background: url("images/magical-spring-forest-scenery-during-morning-breeze-picjumbo-com.jpg");
    background-size: cover;
    transition: 1s;
}
#fifth{
    background: url("images/relaxing-under-a-palm-tree-on-a-seychelles-beach-picjumbo-com.jpg");
    background-size: cover;
    transition: 1s;
}
.active{
    width: 60vw;
}
.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: 1s;
}
.show{
    opacity: 1;
}
#fifth .heading{
    color: black;
    font-weight: bolder;
}